In [2]:
# import libraries
import pandas as pd

In [3]:
# read the annotations file
newdata = pd.read_csv('Outpatient-Imaging Efficiency-Hospital.csv', sep='\t')

In [4]:
# display the top 5 rows
newdata.head(5)

  Provider ID,"Hospital Name","Address","City","State","ZIP Code","County Name","Phone Number","Measure ID","Measure Name","Score","Footnote","Measure Start Date","Measure End Date"
0  010001,"SOUTHEAST ALABAMA MEDICAL CENTER","110...
1  010001,"SOUTHEAST ALABAMA MEDICAL CENTER","110...
2  010001,"SOUTHEAST ALABAMA MEDICAL CENTER","110...
3  010001,"SOUTHEAST ALABAMA MEDICAL CENTER","110...
4  010001,"SOUTHEAST ALABAMA MEDICAL CENTER","110...

In [5]:
# display basic info on given data
newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28830 entries, 0 to 28829
Data columns (total 1 columns):
Provider ID,"Hospital Name","Address","City","State","ZIP Code","County Name","Phone Number","Measure ID","Measure Name","Score","Footnote","Measure Start Date","Measure End Date"    28830 non-null object
dtypes: object(1)
memory usage: 225.3+ KB